* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
:root {
  --one: #242937;
  --two: #92ccce;
  --three: #445877;
}

a {
  text-decoration: none;
}

/* #g{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-end;
    
    } */

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 2rm;
  color: cornflowerblue;

  /* padding: 25px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-right: 5px solid cornflowerblue; */
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 20px 20px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: var(--three);
}

header h1 {
  color: var(--three);
  background: var(--two);
  padding: 5px 1% 5px 6%;
  font-size: 4vw;
  line-height: 1;
}

li {
  list-style: none;
  display: inline;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  color: var(--highlight);
  background-image: linear-gradient(280deg, var(--highlight), var(--highlight));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  font-size: 1.2rem;
  transition: all 0.35s ease-in-out;
  -webkit-animation: all 0.35s ease-in-out;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--nav-color);
}

.hero-galaxy {
  background-image: url(./img/G1.jpg);
  background-position-y: 80%;
  background-size: cover;
  height: 20rem;
  min-width: 100%;
  position: relative;
  display: flex;
}

.hero-galaxy h2 {
  color: var(--nav-color);
  color: cornflowerblue;
  padding: 8px;
  position: absolute;
  right: 5%;
  bottom: 10%;
  display: flex;
  align-items: flex-end;
}

.centerPage {
  display: flex;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
}
.container {
  flex-direction: column;
}

.alignLeft {
  margin-top: 5%;
  border-right: 5px solid var(rgb(0, 0, 0));
  flex: 0 0 15%;
}

.alignLeft h3 {
  flex: 0 0 20%;
  padding-right: 15px;
  text-align: left;
}

.infoBox {
  flex: 0 0 77%;
  padding-left: 6%;
  margin-right: 10%;
  margin-top: 4%;
}

.workBox {
  flex: 0 0 77%;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: 2%;
  margin-left: 5%;
}

.exemplaryWork1 {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  color: var(--nav-color);
  background-color: var(--highlight);
}

.exemplaryWork1 h3,
.exemplaryWork h3 {
  color: var(--nav-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.exemplaryWork1 p,
.exemplaryWork p {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0.5rem;
  line-height: 1.1;
}

.exemplaryWork {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  color: var(--nav-color);
  background-color: var(--highlight);
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
  background-color: var(--highlight);
  opacity: 85%;
}



.project1 {
  flex: 1 0 100%;
  margin-top: 4%;
  border: 5px solid var(--highlight);
  background-size: cover;
  background-image: url(./images/G1.jpg);
  height: 60vh;
  margin-bottom: 2%;
  display: flex;
  transition: all 0.25s ease-in-out;
}

.project2 {
  flex: 1 0 45%;
  border: 5px solid var(--highlight);
  background-size: cover;
  background-image: url(./img/milky-way-swirl.webp);
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  margin-right: 10px;
  position: relative;
  margin-bottom: 2%;
  transition: all 0.25s ease-in-out;
}

.project3 {
  flex: 1 0 45%;
  border: 5px solid var(--highlight);
  background-image: url(./img/4891uW.jpg);
  background-size: cover;
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  position: relative;
  margin-bottom: 2%;
  transition: all 0.25s ease-in-out;
}

.project4 {
  flex: 1 0 45%;
  border: 5px solid var(--highlight);
  background-image: url(./img/ScatterPattern.jpg);
  background-size: cover;
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  position: relative;
  margin-bottom: 2%;
  margin-right: 10px;
  transition: all 0.25s ease-in-out;
}

.project5 {
  flex: 1 0 45%;
  justify-content: center;
  border: 5px solid var(--highlight);
  background-image: url(./img/shotG.jpg);
  background-size: cover;
  height: 25vh;
  position: relative;
  margin-bottom: 2%;
  transition: all 0.25s ease-in-out;
}

#contact {
  padding-bottom: 2%;
  margin-bottom: 1rem;
}

#contact h3 {
  margin-left: -1.5rem;
}

.contact-Choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
}
.contact-Choices ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.contact-Choices ul li {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.contact-Choices ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-image: linear-gradient(280deg, var(--heading), var(--heading));
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 0.2em;
  transition: all 0.25s ease-in-out;
}
.contact-Choices ul li a:hover {
  background-size: 100% 100%;
  color: white;
}

#work {
  margin-top: 1rem;
}

.project2,
.project4 {
  margin-right: 0px;
}

.contact-Choices ul {
  flex-direction: row;
  align-items: center;
  width: 90vw;
}



nav {
  display: flex;
  flex-direction: row;
  flex-wrap: flex-end;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--one);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100%;
}

#contact {
  padding-bottom: 2%;
  margin-bottom: 1rem;
}
